 #contact {
      background: #66AAFF;
      color: #777;
      float: left;
      border-left: .25pt solid #002b5c;
      padding: 0em;
      align-content: center;
    }

    div p {
      color: black;
      margin: 3em;
    }

    p {
      margin: .5px;
    }
